# Entorno
.env
*.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Base de datos
*.db
*.sqlite3

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Logs
logs/*.log
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Editores
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/

# Documentación interna
*.docx
